<%- title "Pertanyaan, Kritik, dan Saran" %>

<div class="inner-content">
  <h2>Pertanyaan, Kritik, dan Saran</h2>

  <div class="static-content">
    <p><%= link_to "daftarbeasiswa.com", root_path %> adalah portal informasi beasiswa baik dalam negeri maupun luar negeri untuk pelajar Indonesia khususnya untuk jenjang S1 dan D3.</p>

    <p>Sampaikan pertanyaan, kritik, dan ataupun saran anda mengenai website ini ke: <%= mail_to "daftarbeasiswacom@gmail.com" %></p>
  <div>

</div>
